.nav-bar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }